<%= include('includes/top.tmpl') %>

    <div class="main">

		<h2 class="sr-cta"><%= regional_cta %></h2>

        <div class="sr-region__list-header-section">
            <h2 class="sr-region__list-header--titles"><%= regional_header1 %></h2>
            <h2 class="sr-region__list-header--figures"><%= regional_header2 %></h2>
        </div>
    	<ul id="sr-regions__list" class="sr-regions__list">
    		<li data-name="deraa">
    			<span class="sr-region__name"><%= region1 %></span>
    			<span class="sr-region__bar-wrapper">
    				<span class="sr-region__bar"></span>
    			</span>
    			<span class="sr-region__fig"><%= num_3 %><%= num_5 %><%= num_5 %><%= thousands_separator %><%= num_4 %><%= num_8 %><%= num_5 %></span>
    		</li>
    		<li data-name="homs">
    			<span class="sr-region__name"><%= region2 %></span>
    			<span class="sr-region__bar-wrapper">
    				<span class="sr-region__bar"></span>
    			</span>
    			<span class="sr-region__fig"><%= num_3 %><%= num_4 %><%= num_4 %><%= thousands_separator %><%= num_1 %><%= num_9 %><%= num_8 %></span>
    		</li>
    		<li data-name="aleppo">
    			<span class="sr-region__name"><%= region3 %></span>
    			<span class="sr-region__bar-wrapper">
    				<span class="sr-region__bar"></span>
    			</span>
    			<span class="sr-region__fig"><%= num_2 %><%= num_8 %><%= num_5 %><%= thousands_separator %><%= num_6 %><%= num_0 %><%= num_1 %></span>
    		</li>
    		<li data-name="ruraldamascus">
    			<span class="sr-region__name"><%= region4 %></span>
    			<span class="sr-region__bar-wrapper">
    				<span class="sr-region__bar"></span>
    			</span>
    			<span class="sr-region__fig"><%= num_2 %><%= num_4 %><%= num_2 %><%= thousands_separator %><%= num_4 %><%= num_3 %><%= num_5 %></span>
    		</li>
    		<li data-name="damascus">
    			<span class="sr-region__name"><%= region5 %></span>
    			<span class="sr-region__bar-wrapper">
    				<span class="sr-region__bar"></span>
    			</span>
    			<span class="sr-region__fig"><%= num_1 %><%= num_6 %><%= num_0 %><%= thousands_separator %><%= num_9 %><%= num_9 %><%= num_8 %></span>
    		</li>
    		<li data-name="hassakeh">
    			<span class="sr-region__name"><%= region6 %></span>
    			<span class="sr-region__bar-wrapper">
    				<span class="sr-region__bar"></span>
    			</span>
    			<span class="sr-region__fig"><%= num_1 %><%= num_5 %><%= num_9 %><%= thousands_separator %><%= num_2 %><%= num_1 %><%= num_2 %></span>
    		</li>
    		<li data-name="idlib">
    			<span class="sr-region__name"><%= region7 %></span>
    			<span class="sr-region__bar-wrapper">
    				<span class="sr-region__bar"></span>
    			</span>
    			<span class="sr-region__fig"><%= num_1 %><%= num_4 %><%= num_8 %><%= thousands_separator %><%= num_4 %><%= num_5 %><%= num_7 %></span>
    		</li>
    		<li data-name="hama">
    			<span class="sr-region__name"><%= region8 %></span>
    			<span class="sr-region__bar-wrapper">
    				<span class="sr-region__bar"></span>
    			</span>
    			<span class="sr-region__fig"><%= num_1 %><%= num_0 %><%= num_3 %><%= thousands_separator %><%= num_6 %><%= num_8 %><%= num_0 %></span>
    		</li>
    		<li data-name="raqqa">
    			<span class="sr-region__name"><%= region9 %></span>
    			<span class="sr-region__bar-wrapper">
    				<span class="sr-region__bar"></span>
    			</span>
    			<span class="sr-region__fig"><%= num_5 %><%= num_4 %><%= thousands_separator %><%= num_5 %><%= num_2 %><%= num_4 %></span>
    		</li>
    		<li data-name="deirezzor">
    			<span class="sr-region__name"><%= region10 %></span>
    			<span class="sr-region__bar-wrapper">
    				<span class="sr-region__bar"></span>
    			</span>
    			<span class="sr-region__fig"><%= num_2 %><%= num_6 %><%= thousands_separator %><%= num_6 %><%= num_4 %><%= num_4 %></span>
    		</li>
    		<li data-name="lattakia">
    			<span class="sr-region__name"><%= region11 %></span>
    			<span class="sr-region__bar-wrapper">
    				<span class="sr-region__bar"></span>
    			</span>
    			<span class="sr-region__fig"><%= num_7 %><%= thousands_separator %><%= num_8 %><%= num_4 %><%= num_2 %></span>
    		</li>
    		<li data-name="quneitra">
    			<span class="sr-region__name"><%= region12 %></span>
    			<span class="sr-region__bar-wrapper">
    				<span class="sr-region__bar"></span>
    			</span>
    			<span class="sr-region__fig"><%= num_1 %><%= num_0 %><%= thousands_separator %><%= num_5 %><%= num_0 %><%= num_3 %></span>
    		</li>
    		<li data-name="tartous">
    			<span class="sr-region__name"><%= region13 %></span>
    			<span class="sr-region__bar-wrapper">
    				<span class="sr-region__bar"></span>
    			</span>
    			<span class="sr-region__fig"><%= num_4 %><%= thousands_separator %><%= num_3 %><%= num_9 %><%= num_0 %></span>
    		</li>
    		<li data-name="suweida">
    			<span class="sr-region__name"><%= region14 %></span>
    			<span class="sr-region__bar-wrapper">
    				<span class="sr-region__bar"></span>
    			</span>
    			<span class="sr-region__fig"><%= num_1 %><%= thousands_separator %><%= num_3 %><%= num_5 %><%= num_2 %></span>
    		</li>
    		<li data-name="notknown">
    			<span class="sr-region__name"><%= region15 %></span>
    			<span class="sr-region__bar-wrapper">
    				<span class="sr-region__bar"></span>
    			</span>
    			<span class="sr-region__fig"><%= num_2 %><%= num_0 %><%= thousands_separator %><%= num_9 %><%= num_8 %><%= num_8 %></span>
    		</li>
    		
    	</ul>

	    <div class="sr-region--breakdown--destinations">
	    	<h3><%= destination_chart_title %></h3>
	    	<ul>
	    		<li class="sr-region--lebanon">
	    			<span class="sr-breakdown--label"><%= region_country1 %></span>
	    			<span class="sr-breakdown--bar-wrapper">
	    				<span class="sr-breakdown--bar"></span>
	    				<span class="sr-breakdown--figure"></span>
	    			</span>
	    		</li>
	    		<li class="sr-region--jordan">
	    			<span class="sr-breakdown--label"><%= region_country2 %></span>
	    			<span class="sr-breakdown--bar-wrapper">
	    				<span class="sr-breakdown--bar"></span>
	    				<span class="sr-breakdown--figure"></span>
	    			</span>
	    		</li>
	    		<li class="sr-region--iraq">
	    			<span class="sr-breakdown--label"><%= region_country3 %></span>
	    			<span class="sr-breakdown--bar-wrapper">
	    				<span class="sr-breakdown--bar"></span>
	    				<span class="sr-breakdown--figure"></span>
	    			</span>
	    		</li>
	    		<li class="sr-region--egypt">
	    			<span class="sr-breakdown--label"><%= region_country4 %></span>
	    			<span class="sr-breakdown--bar-wrapper">
	    				<span class="sr-breakdown--bar"></span>
	    				<span class="sr-breakdown--figure"></span>
	    			</span>
	    		</li>
	    	</ul>
	    </div>

        <div class="sr-region--breakdown--demographics">
            <h3><%= people_chart_title %></h3>
            <ul>
                <li class="sr-region--total">
                    <span class="sr-breakdown--label"><%= people4 %></span>
                    <span class="sr-breakdown--figure"></span>
                </li>
                <li class="sr-region--women">
                    <span class="sr-breakdown--label"><%= people2 %></span>
                    <span class="sr-breakdown--figure"></span>
                </li>
                <li class="sr-region--men">
                    <span class="sr-breakdown--label"><%= people1 %></span>
                    <span class="sr-breakdown--figure"></span>
                </li>
                <li class="sr-region--children">
                    <span class="sr-breakdown--label"><%= people3 %></span>
                    <span class="sr-breakdown--figure"></span>
                </li>
            </ul>
        </div>

        <div id="sr-thousands-separator" class="sr-hide"><%= thousands_separator %></div>
        <div id="sr-refugees" class="sr-hide"><%= refugees %></div>

    </div>

<%= include('includes/bottom.tmpl') %>